.gradle
.idea
build

libs
/libs

/GeoWareCommon/build

/GeoWareMod/.gradle
/GeoWareMod/.idea
/GeoWareMod/build
/GeoWareMod/run

/GeoWarePlugin/.gradle
/GeoWarePlugin/.idea
/GeoWarePlugin/build
/GeoWarePlugin/run

/ModDonkeyKong/build
/ModDonkeyKong/.gradle
/ModDonkeyKong/.idea
/ModDonkeyKong/run

/ModTetris/build
/ModTetris/.gradle
/ModTetris/.idea
/ModTetris/run

/ModArkanoid/build
/ModArkanoid/.gradle
/ModArkanoid/.idea
/ModArkanoid/run

/ModHanoiTowers/build
/ModHanoiTowers/.gradle
/ModHanoiTowers/.idea
/ModHanoiTowers/run

/ModBubblePuzzle/build
/ModBubblePuzzle/.gradle
/ModBubblePuzzle/.idea
/ModBubblePuzzle/run
/ModBubblePuzzle/libs
