.gradle
.idea
/DonkeyKongFabric/build
/DonkeyKongFabric/.gradle
/DonkeyKongFabric/.idea
/DonkeyKongFabric/build
/DonkeyKongFabric/run
/DonkeyKongPlugin/.gradle
/DonkeyKongPlugin/.idea
/DonkeyKongPlugin/build
/DonkeyKongPlugin/run

/TetrisMod/build
/TetrisMod/.gradle
/TetrisMod/.idea
/TetrisMod/build
/TetrisMod/run
